<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braude.nfc.library"

    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_iconnn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".SearchBook"></activity>
        <activity android:name=".SearchResultsActivity" android:parentActivityName=".SearchBook"></activity>
        <activity android:name=".SearchResultActivity" android:parentActivityName=".SearchResultsActivity"></activity>
        <activity android:name=".ManageInventoryActivity" android:parentActivityName=".LibrarianMainActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".ReturnRouteActivity" android:parentActivityName=".LibrarianMainActivity">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

            </intent-filter>
        </activity>
        <activity android:name=".BookBorrowActivity">

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

            </intent-filter>
        </activity>
        <activity android:name=".AssignBookToShelfActivity" android:parentActivityName=".ManageInventoryActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                    android:name="android.nfc.action.TECH_DISCOVERED"
                    android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".ScanShelfActivity" android:parentActivityName=".SearchResultActivity">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                    android:name="android.nfc.action.TECH_DISCOVERED"
                    android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".AddNewBook" android:parentActivityName=".LibrarianMainActivity"></activity>
        <activity android:name=".StudentMainActivity" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".LibrarianMainActivity" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".BookCartActivity" android:parentActivityName=".StudentMainActivity"></activity>
        <activity android:name=".SearchBook" android:parentActivityName=".StudentMainActivity"></activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />



                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".CopyListActivity" android:parentActivityName=".SearchResultsActivity"/>
        <activity android:name=".SortedList" android:parentActivityName=".ReturnRouteActivity"/>
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".ReturnRouteInstructions" android:parentActivityName=".SortedList"/>
        <activity android:name=".ShelfManagementActivity" android:parentActivityName=".ManageInventoryActivity"/>
        <activity android:name=".ShelfManagementResult" android:parentActivityName=".ShelfManagementActivity"/>
        <activity android:name=".TagStatusActivity" android:parentActivityName=".ManageInventoryActivity"/>
    </application>

</manifest>